# This folder is a quick-and-dirty "database" for the bot
# A serious db isn't really necessary, so I created a structure:
# Files are named by chat_id
# File content is a pickled version of each chat's movie dictionary
# Files are read from and written on any respective endpoint call

# Ignore all the chat_id files here
*

!.gitignore

